<div class="container">
    <form #secondForm="ngForm">
        <h2>Review the Image</h2>
        <img src="" alt="">
        <h3>Rating</h3>
        <div>
            <input type="radio" id="one" name="one">1
            <input type="radio" id="two" name="one">2
            <input type="radio" id="three" name="one">3
            <input type="radio" id="four" name="one">4
            <input type="radio" id="five" name="one">5
            <input type="radio" id="six" name="one">6
            <input type="radio" id="seven" name="one">7
            <input type="radio" id="eight" name="one">8
            <input type="radio" id="nine" name="one">9
            <input type="radio" id="ten" name="one">10
        </div>
        <h3>Reason for Rating</h3>
        <textarea name="reason" id="reason" cols="100" rows="10"></textarea>
        <br>
        <input type="button" value="submit" style="margin-left: 700px ;">
    </form>
</div>
